/.project
/.settings
/.metadata/
/angularee-ear/.project
/angularee-ear/.settings
/angularee-ear/target
/angularee-ejb/.project
/angularee-ejb/.settings
/angularee-ejb/target
/angularee-ejb/.classpath
/angularee-frontend/.project
/angularee-frontend/.settings
/angularee-web/.project
/angularee-web/.settings
/angularee-web/target
/angularee-web/.classpath
/angularee-frontend/src/main/ui/node_modules
/angularee-frontend/src/main/ui/node
